<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAlternateNames</key>
	<array>
		<string>키스톤</string>
		<string>한영 전환</string>
		<string>한영키</string>
		<string>캡스락</string>
		<string>caps lock</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>Keystone</string>
	<key>CFBundleIdentifier</key>
	<string>com.jhaemin.keystone</string>
	<key>CFBundleName</key>
	<string>Keystone</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/domus-apps/keystone/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>231/UKP6u5LElqtTkMp2TwNDsr83lQSxVCiJ4UUMR7I=</string>
</dict>
</plist>
